<p>
  <strong>Title:</strong>
  <%= @faculty.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @faculty.description %>
</p>

<%= link_to 'Edit', edit_faculty_path(@faculty) %> |
<%= link_to 'Delete', @faculty, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', faculties_path %>
