<%courses.each do |course|%>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title"><%= course.title %></h3>
	</div>
	<div class="panel-body">
		<div class="justify">
			<%= course.description %>
		</div>
		<div class="control-group clearfix">
			<div class="pull-left">Faculty : <%= course.faculty.title %></div>
			<div class="pull-right">Dificulty level : <%= course.level %>  <%= link_to 'View', course %></div>
		</div>
	</div>
</div>
<%end%>