<div class="row">
	<div class="col-xs-3">
		<h3>Faculties</h3>
		<div id="all-faculty">
			<%@faculties.each do |faculty|%>
			<div class="checkbox">
				<input type="checkbox" class="faculty" value="<%=faculty.id%>"> <%=faculty.title%>
			</div>
			<%end%>
		</div>
	</div>
	<div class="col-xs-9">
		<h3>Listing courses</h3>
		<%@courses.each do |course|%>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"><%= course.title %></h3>
			</div>
			<div class="panel-body">
				<div class="justify">
					<%= course.description %>
				</div>
				<div class="control-group clearfix">
					<div class="pull-left">Faculty : <%= course.faculty.title %></div>
					<div class="pull-right">Dificulty level : <%= course.level %>  <%= link_to 'View', course %></div>
				</div>
			</div>
		</div>
		<%end%>
		<div class="text-center">
			<%= will_paginate @courses, renderer: BootstrapPagination::Rails %>
		</div>
	</div>
</div>





