<div class="jumbotron">
<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Level:</strong>
  <%= @course.level %>
</p>

<p>
	<strong>Faculty:</strong>
	<%= @course.faculty.title %>
</p>
<div class="control-group clearfix">
	<div class="pull-left">
		<%if !@isEnrolled%>
		<%=form_tag enroll_course_path(@course), :method => :post do%>
		<input type="submit" name="submit" value="Enrol in this course" class="btn btn-primary">
		<% end %>
		<%end%>
	</div>

	<div class="pull-right">
		<%=link_to "Exams", course_exams_path(@course)%>
	</div>
</div>

</div>
<%= link_to 'Back', courses_path %> |
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Delete', course_path, method: :delete, data: { confirm: 'Are you sure?' } %>