<!DOCTYPE html>
<html>
<head>
  <title>Chaseuni</title>
  <%= stylesheet_link_tag    "application", "custom", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header id="header" class="navbar navbar-fixed-top bg-white box-shadow" data-offset-top="1" data-spy="affix">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<%= image_tag("logo.png", :alt => "Chaseuni") %>
			</a>
		 	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		 </div>
		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse">
		    <ul class="nav navbar-nav navbar-right">
		      <li class="active"><a href="#">Dummy link 1</a></li>
				 <li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Faculties <b class="caret"></b></a>
			        <ul class="dropdown-menu">
			          <li><%=link_to "List all faculties", faculties_path%></li>
			          <li><%=link_to "Create a new faculty", new_faculty_path%></li>
			        </ul>
				</li>
			     <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses <b class="caret"></b></a>
		        <ul class="dropdown-menu">
		          <li><%=link_to "List all courses", courses_path%></li>
		          <li><%=link_to "Create a new course", new_course_path%></li>
		          <li><a href="#">Dummy link3</a></li>
		          <li class="divider"></li>
		          <li><a href="#">Dummy link4</a></li>
		        </ul>
		      </li>
		      <li>
		      	<%= @user_email  %>
		      </li>
		      <li>
		      	<%if user_signed_in?%>
					<%=link_to "logout",destroy_user_session_path, :method => 'delete' %>
				<%end%>
		      </li>
		    </ul>
		  </div><!-- /.navbar-collapse -->
	</div>
</header>
<section id="content">
	<% if notice %>
	<div class="alert alert-info"><%= notice %></div>
	<% end %>
	<% if alert %>
	<div class="alert alert-danger"><%= alert %></div>
	<% end %>
	<div class="bg-gray">
		<div class="container container-sh" >
		<%if user_signed_in?%>
			<%= yield %>
		<%else%>
		<div class="pull-right col-md-3">
		<div class="panel panel-primary">
			<div class="panel-heading">
		    <h3 class="panel-title"><i class="fa fa-user"></i> <%=yield(:heading)%></h3>
		  </div>
		  <div class="panel-body">
		   <%=yield%>
		  </div>
		  <div class="panel-footer">
		  	<%= render "devise/shared/links" %>
		  </div>
		</div>
		</div>
		<%end%>
		</div>
		</div>	
</div>
</body>
</html>
